.el-menu--collapse {
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 2px 0 6px rgba(0, 21, 41, 0.35);
    z-index: 2;
}

.el-menu {
    border: none;
    overflow-x: hidden
}

.zcl-logo {
    width: 100%;
    height: 64px;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    line-height: 64px;
    transition: all 0.3s;
    font-family: 'Myriad Pro', 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

.zcl-menu:not(.el-menu--collapse) {
    width: 200px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    overflow-x: hidden;
    z-index: 2;
    background-color: #fff;
    box-shadow: 2px 0 6px rgba(0, 21, 41, 0.35);

    .el-menu {
        li {
            color: rgba(0, 0, 0, 0.65);
            transition: all 0.36s ease;

            .is-active {
                color: #108ee9;
                background-color: #ecf5ff;

                &:after {
                    opacity: 1 !important;
                    transform: scaleY(1) !important;
                    transition: transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1), opacity 0.15s cubic-bezier(0.645, 0.045, 0.355, 1), -webkit-transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1) !important;
                }
            }

            .el-submenu__title {
                text-overflow: ellipsis;
                overflow: hidden;
                transition: all 0.36s ease;
                position: relative;

                i {
                    margin-right: 4px;
                }

                &:hover {
                    background-color: #ecf6fd;
                }
            }

            .el-menu-item {
                &:hover {
                    padding-left: 50px !important;
                    color: #108ee9;
                    background-color: #ecf5ff;

                    &:after {
                        opacity: 1;
                        transform: scaleY(1);
                        transition: transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1), opacity 0.15s cubic-bezier(0.645, 0.045, 0.355, 1), -webkit-transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1);
                    }
                }

                &:after {
                    content: '';
                    position: absolute;
                    right: 0;
                    top: 0;
                    bottom: 0;
                    border-right: 3px solid #108ee9;
                    transform: scaleY(0.0001);
                    opacity: 0;
                    transition: transform 0.15s cubic-bezier(0.215, 0.61, 0.355, 1), opacity 0.15s cubic-bezier(0.215, 0.61, 0.355, 1);
                }
            }
        }
    }

    .el-submenu__title {
        color: rgba(0, 0, 0, 0.75);

        &:hover {
            background-color: transparent;
        }
    }
}