<div class="zcl-card" v-loading="isLoading" element-loading-spinner="el-icon-loading" element-loading-background="rgba(207, 216, 220, 0.2)">
  <el-tabs v-model="activeName">
    <el-tab-pane label="基础设置" name="basic">
        <el-form :model="ruleForm" :rules="rules" ref="ruleForm" label-width="100px" class="zcl-ruleForm">
            <el-form-item label="活动名称" prop="name">
              <el-input v-model="ruleForm.name"></el-input>
            </el-form-item>
            <el-form-item label="活动区域" prop="region">
              <el-select v-model="ruleForm.region" placeholder="请选择活动区域">
                <el-option label="区域一" value="shanghai"></el-option>
                <el-option label="区域二" value="beijing"></el-option>
              </el-select>
            </el-form-item>
            <el-form-item label="活动时间" required>
              <el-col :span="11">
                <el-form-item prop="date1">
                  <el-date-picker type="date" placeholder="选择日期" v-model="ruleForm.date1" style="width: 100%;"></el-date-picker>
                </el-form-item>
              </el-col>
              <el-col class="line" :span="2">-</el-col>
              <el-col :span="11">
                <el-form-item prop="date2">
                  <el-time-picker type="fixed-time" placeholder="选择时间" v-model="ruleForm.date2" style="width: 100%;"></el-time-picker>
                </el-form-item>
              </el-col>
            </el-form-item>
            <el-form-item label="即时配送" prop="delivery">
              <el-switch v-model="ruleForm.delivery"></el-switch>
            </el-form-item>
            <el-form-item label="活动性质" prop="type">
              <el-checkbox-group v-model="ruleForm.type">
                <el-checkbox label="美食/餐厅线上活动" name="type"></el-checkbox>
                <el-checkbox label="地推活动" name="type"></el-checkbox>
                <el-checkbox label="线下主题活动" name="type"></el-checkbox>
                <el-checkbox label="单纯品牌曝光" name="type"></el-checkbox>
              </el-checkbox-group>
            </el-form-item>
            <el-form-item label="特殊资源" prop="resource">
              <el-radio-group v-model="ruleForm.resource">
                <el-radio label="线上品牌商赞助"></el-radio>
                <el-radio label="线下场地免费"></el-radio>
              </el-radio-group>
            </el-form-item>
            <el-form-item label="活动形式" prop="desc">
              <el-input type="textarea" v-model="ruleForm.desc"></el-input>
            </el-form-item>
            <el-form-item>
              <div class="zcl-form-button">
                  <el-button class="zcl-btn-primary" type="primary" @click="submit()">保存数据</el-button>
                  <el-button >撤销返回</el-button>
              </div>
            </el-form-item>
          </el-form>
    </el-tab-pane>

    <el-tab-pane label="水印设置" name="water">配置管理</el-tab-pane>

    <el-tab-pane label="上传设置" name="upload">角色管理</el-tab-pane>

    <el-tab-pane label="拓展设置" name="expand">定时任务补偿</el-tab-pane>
  </el-tabs>
</div>
