<div>
  <el-row class="analysis">
    <el-col :span="6">
      <div class="zcl-card zcl-bg-fff-row">
        <div class="mate">总浏览PV</div>
        <p class="total">15,439</p>
        <div class="content">
          <div>周同比
            <strong>12%</strong>
            <i class="icon zcl-arrLeft-fill main-color-red"></i>
          </div>
          <div>日环比
            <strong>22%</strong>
            <i class="icon zcl-arrUp-fill main-color-lv"></i>
          </div>
        </div>
        <div class="footer">
          <div>IP 数
            <strong>12354</strong>
          </div>
        </div>
      </div>
    </el-col>
    <el-col :span="6">
      <div class="zcl-card zcl-bg-fff-row">
        <div class="mate">总浏览PV</div>
        <p class="total">15,439</p>
        <div class="content">
          <div>周同比
            <strong>12%</strong>
            <i class="icon zcl-arrLeft-fill main-color-red"></i>
          </div>
          <div>日环比
            <strong>22%</strong>
            <i class="icon zcl-arrUp-fill main-color-lv"></i>
          </div>
        </div>
        <div class="footer">
          <div>IP 数
            <strong>12354</strong>
          </div>
        </div>
      </div>
    </el-col>
    <el-col :span="6">
      <div class="zcl-card zcl-bg-fff-row">
        <div class="mate">总浏览PV</div>
        <p class="total">15,439</p>
        <div class="content">
          <div>周同比
            <strong>12%</strong>
            <i class="icon zcl-arrLeft-fill main-color-red"></i>
          </div>
          <div>日环比
            <strong>22%</strong>
            <i class="icon zcl-arrUp-fill main-color-lv"></i>
          </div>
        </div>
        <div class="footer">
          <div>IP 数
            <strong>12354</strong>
          </div>
        </div>
      </div>
    </el-col>
    <el-col :span="6">
      <div class="zcl-card zcl-bg-fff-row">
        <div class="mate">总浏览PV</div>
        <p class="total">15,439</p>
        <div class="content">
          <div>周同比
            <strong>12%</strong>
            <i class="icon zcl-arrLeft-fill main-color-red"></i>
          </div>
          <div>日环比
            <strong>22%</strong>
            <i class="icon zcl-arrUp-fill main-color-lv"></i>
          </div>
        </div>
        <div class="footer">
          <div>IP 数
            <strong>12354</strong>
          </div>
        </div>
      </div>
    </el-col>
  </el-row>

  <div class="zcl-bg-fff-row map-echart">
    <div class="region-pv">
      <h3>访问城市 PV Top 10</h3>
      <el-table :data="tableData" height="360" border>
        <el-table-column :prop="item.attrs" :label="item.label" :width="item.width" v-for="(item, index) in tableColumns" :key="index"
        />
      </el-table>
    </div>
    <vue-lazy-component class="custom-transition" style="width: calc(100% - 550px); margin-left: 130px">
      <template scope="scope">
        <ve-histogram :data="echartMapData" :settings="mapSettings" v-if="scope.loading"></ve-histogram>
      </template>
      <skeleton-loading slot="skeleton" />
    </vue-lazy-component>
  </div>

  <div class="zcl-bg-fff-row line-echart">
    <vue-lazy-component class="custom-transition">
      <template scope="scope">
        <ve-line :data="chartData" :settings="chartSettings" :colors="colors" v-if="scope.loading"></ve-line>
      </template>
      <skeleton-loading slot="skeleton" />
    </vue-lazy-component>
  </div>

</div>
