.c999 {
  color #8d8d8d;
}

.zcl-ana-box {
  display: flex;
  flex: 1;
  flex-wrap nowrap;
  flex-direction row;
  justify-content space-around
}

.text-smaller {
  padding-top 30px
  padding-bottom 3px
}

.zcl-ana-li {
  border: 1px solid #e9e9e9;
  border-radius: 4px;
  display: inline-block;
  width: 260px;
  font-size 14px
  font-weight 400
  position: relative;
  -webkit-transition: all .2s;
  text-align center;
  padding 0px 10px;
  transition: all .2s linear;

  &:hover {
    box-shadow: 0 15px 30px rgba(0,0,0,0.1);
    transform: translate3d(0, -2px, 0);
  }

}

.zcl-ana-num {
  font-size: 32px;
  color: #464c5b;
}

.zcl-ana-bm {
  width: 100%;
  height: 60px;
  display flex;
  color #888
  flex-wrap nowrap;
  align-items center;
  justify-content space-around;
  font-size 16px
  line-height 60px
  border-top 1px solid rgba(0,0,0,.06)
  margin-top 15px
}

.zcl-ana-blue {
  padding 2px;
  border-radius 4px;
  font-size 27px
  color: #108ee9;
  border-color: #108ee9;
  position relative
  top: 4px
}

.zcl-ana-pink {
  padding 2px;
  border-radius 4px;
  font-size 27px
  color: #f5317f;
  border-color: #f5317f;
  position relative
  top: 4px
}

.zcl-ana-purple {
  padding 2px;
  border-radius 4px;
  font-size 27px
  color: #7265e6;
  border-color: #7265e6;
  position relative
  top: 4px
}

// 3列
.zcl-ana-li3 {
  border: 1px solid #e9e9e9;
  border-radius: 4px;
  display: inline-block;
  width: 360px;
  position: relative;
  -webkit-transition: all .2s;
  transition: all .2s;
  text-align center;
  padding 0px 10px;
  margin-top 30px
  box-shadow: 0 8px 10px rgba(0,0,0,.02);
}
