.zcl-main {
  width: 100%;
  height: 100%;
}

.zcl-layout {
  display: flex;
  flex: 1;
  flex-direction: row;
  background: #f0f2f5;
}

.zcl-content {
  margin: 24px;
  position: absolute;
  top: 64px;
  right: 0;
  bottom: 0;
  overflow: auto;
  z-index: 1;
  transition: left 0.3s;
}

.zcl-cursor {
  cursor: pointer;
}

.zcl-bg-fff-row {
  background-color: #fff;
  border-radius: 2px;
}

.timeline-item {
  width: inherit !important;
  border: none !important;
}