<div class="timeline-item" :style="styles">
  <el-row :gutter="24">
    <el-col :span="24">
      <div class="animated-background"></div>
    </el-col>
  </el-row>
  <el-row :gutter="24">
    <el-col :span="9">
      <div class="animated-background"></div>
    </el-col>
    <el-col :span="1">&nbsp;</el-col>
    <el-col :span="13">
      <div class="animated-background"></div>
    </el-col>
  </el-row>
  <el-row :gutter="24">
    <el-col :span="7">
      <div class="animated-background"></div>
    </el-col>
    <el-col :span="1">&nbsp;</el-col>
    <el-col :span="15">
      <div class="animated-background"></div>
    </el-col>
  </el-row>
  <el-row :gutter="24">
    <el-col :span="12">
      <div class="animated-background"></div>
    </el-col>
    <el-col :span="8">
      <div class="animated-background"></div>
    </el-col>
  </el-row>
  <el-row :gutter="24">
    <el-col :span="6">
      <div class="animated-background"></div>
    </el-col>
    <el-col :span="1">&nbsp;</el-col>
    <el-col :span="4">
      <div class="animated-background"></div>
    </el-col>
    <el-col :span="1">&nbsp;</el-col>
    <el-col :span="10">
      <div class="animated-background"></div>
    </el-col>
  </el-row>
</div>
