<div class="timeline-item" :style="styles">
    <el-row :gutter="20">
        <el-col :span="20">
            <div class="animated-background"></div>
        </el-col>
    </el-row>
    <el-row :gutter="20">
        <el-col :span="8">
            <div class="animated-background"></div>
        </el-col>
        <el-col :span="12">
            <div class="animated-background"></div>
        </el-col>
    </el-row>
    <el-row :gutter="20">
        <el-col :span="6">
            <div class="animated-background"></div>
        </el-col>
        <el-col :span="14">
            <div class="animated-background"></div>
        </el-col>
    </el-row>
    <el-row :gutter="20">
        <el-col :span="12">
            <div class="animated-background"></div>
        </el-col>
        <el-col :span="8">
            <div class="animated-background"></div>
        </el-col>
    </el-row>
    <el-row :gutter="20">
        <el-col :span="6">
            <div class="animated-background"></div>
        </el-col>
        <el-col :span="4">
            <div class="animated-background"></div>
        </el-col>
        <el-col :span="10">
            <div class="animated-background"></div>
        </el-col>
    </el-row>
</div>