<div class="tags-content">
  <div ref="scrollCon" class="tags-outer-scroll-con">
    <div ref="scrollBody" class="tags-inner-scroll-body">
      <transition-group name="taglist-moving-animation">
        <el-tag class="zcl-cursor" 
                size="medium" 
                :key="index"
                closable
                @close="closeTag(index)"
                v-for="(tag, index) in $store.state.status.cachePage"
                @click.native="goView(tag.name)"
        >
          <span class="tag-dot-inner" :style="tag.name === $route.name ? 'background-color: #4fe3c1' : ''"></span>
          {{ tag.title }}
        </el-tag>
      </transition-group>
    </div>
  </div>
</div>
