<div class="app">
  <div class="zcl_box">
    <div class="zcl_404">
      <div class="pic-404">
        <img class="pic-404__parent" src="../../assets/images/404.png" alt="404">
        <img class="pic-404__child left" src="../../assets/images/404_1.png" alt="404">
        <img class="pic-404__child mid" src="../../assets/images/404_1.png" alt="404">
        <img class="pic-404__child right" src="../../assets/images/404_1.png" alt="404">
      </div>
      <div class="bullshit">
        <div class="bullshit__oops">Error</div>
        <div class="bullshit__headline">你迷路了嘛？ Σ( ° △ °|||)︴</div>
        <div class="bullshit__info">您可能输入了错误的网址，或者该网页已删除或移动</div>
        <a @click="$router.go(-1)" class="bullshit__return-home">返回上一级</a>
      </div>
    </div>
  </div>
</div>
